.error {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 95dvh;
	gap: 0.5rem;
	color: var(--clr-tertiary-dark);
	text-align: center;
	svg {
		fill: var(--clr-tertiary-dark);
		height: 5rem;
	}
}
