.flexor {
	display: grid;
}
.container {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1rem;
	text-align: center;
	gap: 1rem;
	justify-content: center;
	img {
		height: 50dvb;
	}
	h1 {
		color: var(--clr-principal-bright);
		max-width: 35ch;
	}
	p {
		max-width: 75ch;
		color: var(--clr-tertiary-dark);
	}
}
.carousel {
	max-width: 95vw;
	.carouselIMG {
		padding: 1rem 0;
		img {
			object-fit: contain;
		}
	}
	.carousel-status {
		display: none;
	}
	.control-arrow {
		filter: invert();
	}
	.control-dots {
		filter: invert();
	}
}
